

a {
    text-decoration: none;
}

.under-href {
    text-decoration: underline;
}

.under-href:hover {
    text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    outline: 0px none;
    vertical-align: top;
    background: transparent none repeat scroll 0% 0%;
}

body {
    line-height: 1;
}

img, table {
    max-width: 100%;
}

a {
    color: rgb(70, 108, 199);
}

a:hover {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    direction: rtl;
}

header {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(241, 241, 241);
    background-position: center center;
    background-size: 100% 100%;
}


div.conContent {
    text-align: center;
    display: inline;
    width: 100%;
    font-size: 18px;
    padding: 0;
}

.images-logo {
    display: block;
}

.images-logo img {
    max-width: 100%;
    float: left;
    padding: 0px 10px;
    height: auto;
}

.images-logo img:last-child {
    width: 380px;
    padding:  3px 0 3px 3px;
}

div.text-header {
   display: block;
    text-align: center;
    padding: 37px 5px 10px 5px;
}

div.text-header p {
    padding: 10px;
}
div.text-header h1 {
    font-size: 40px;
}
@media screen and (max-width: 980px){
    div.text-header h1{
        font-size: 46px;
    }
}
@media screen and (max-width: 900px){
    div.text-header h1{
        font-size: 40px;
    }
    .images-logo img:last-child {
        width: 330px;
    }
}

@media screen and (max-width: 800px) {
    .images-logo img:last-child {
        width: 300px;
    }
    div.text-header h1{
        font-size: 38px;
    }
}
@media screen and (max-width: 768px) {
    .images-logo img:last-child {
        width: 320px;
    }
    div.text-header h1{
        text-align: center;
    }
}
.container {
    width: 990px;
    position: relative;
    margin: 0px auto;
}

.content {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-radius: 10px;
    margin: 0px 0px 15px;
    overflow: hidden;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px rgb(230, 230, 230);
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    margin-top: 5px;
}

.sidebar {
    float: right;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    top: -95px;
}

.itemfirst {
    width: 249px;
    padding: 12px 12px 30px;
    background: rgb(241, 241, 241) none repeat scroll 0% 0%;
    border: 1px solid rgb(225, 225, 225);
    float: left;
}

.itemsecond {
    width: 249px;
    display: none;
    float: left;
    text-align: center;
    margin: 15px 0 30px;
}

.sidebar .author {
    text-align: left;
    overflow: hidden;
    padding: 55px 0px 15px;
}

.sidebar .author h3 {
    margin: 0px;
    text-decoration: underline;
}

.sidebar .author img {
    float: right;
}

.sidebar .author ul {
    position: relative;
    top: 13px;
    margin: 0px;
    font-weight: bold;
    padding: 0px 0px 30px 15px;
    overflow: hidden;
}

.text {
    width: 100%;
    font-size: 17px;
    line-height: 1.2;
    text-align: justify;
    padding: 0px 15px 0px 0px;
}
div.center{
    margin: 15px 0;
    text-align: center;
}
div.center img{
    margin: 0 auto;
}
.content h1 {
    font-size: 28px;
    margin: 0px 0px 25px;
    text-align: right;
}

.content h1 span {
    color: red;
}
.content h2 {
    font-size: 1.7em;
    margin: 15px 0px;
}
.content h3 {
    font-size: 17px;
    margin: 15px 0px ;
}

.content p {
    margin: 0px 0px 15px;
    font-weight: 400;
    font-size: 23px;

}
.content p.desc {
    margin: 0px 0px 15px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.content ol{
    margin-left: 30px;
}
.content ol li {
    margin: 0px 0px 15px;
    font-weight: 400;
}
.content p.bg {
    background: #da4444;
    padding: 5px;
    color: #fff;
}
.content .red {
    color: rgb(244, 11, 11);
}

.text3 img {
    width: 65px;
    margin: 5px 0px 0px;
    margin-left: 10px;
    border-radius: 50%;
    /* height: 62px; */
}

.content .red2 {
    font-size: 16px;
    padding: 10px 0px 0px;
    color: rgb(244, 11, 11);
}
div.blur{
    position: relative;
    background: #eee;
    padding: 10px;
    cursor: pointer;
}

.blur-p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}
div.blur.active{
    cursor: default;
}
div.blur.active img{
    filter: none;
}
div.blur.active .blur-p{
    display: none;
}
.kov{
    position: relative;
    background: #edfaff;
    padding: 35px 105px;
    margin-bottom: 15px;
}
.kov:before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 75px;
}
.kov:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 75px;
}
.kov p{
    font-style: italic;
    font-weight: 700;
}
.kov p.avtor{
    margin: 0;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
}
.content ul{
    margin-left: 30px;
    list-style: inside circle;
}
.content ul li {
    margin: 0px 0px 15px;
}
#comments {
}

#comments h1 {
    color: rgb(204, 0, 0);
    margin: 0px 0px 5px;
}

.maxB {
    margin: 0px auto;
    display: inline-block;
}

.comment {
    padding: 15px 0px;
    border-top: 1px solid rgb(232, 232, 232);
}

.comment .text1 {
    font-size: 14px;
    font-weight: bold;
}

.comment .text2 {
    font-size: 12px;
    float: right;
    color: rgb(136, 136, 136);
    font-weight: normal;
}

.comment .text3 {
    font-size: 15px;
    padding: 10px 0px 0px;
    font-weight: normal;
}
.comment .text3:after{
    content: '';
    display: block;
    clear: both;
}

.block2 {
    width: 650px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    padding: 5px;
    border: 1px solid red;
}

.block2 p {
    font-weight: 600;
}

.red {
    color: rgb(244, 11, 11);
}
.content h2.red{
    padding: 10px 0px 0px;
}
.yourChance {
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgb(171, 186, 171))) repeat scroll 0% 0%;
    background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(255, 255, 255), rgb(171, 186, 171)) repeat scroll 0% 0%;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 15px;
    font-style: inherit;
}

.button_page, .btn {
    position: relative;
    width: 320px;
    margin: 20px auto;
    padding: 10px;
    cursor: pointer;
    background: #00aff2;
    border: 1px solid #007eaf;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

}
.button_page:hover{
    background: #0a4c8f;
}
.itemfirst .button_page {
    max-width: 100%;
}

.insite {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 25px;
    padding: 0px 10px;
    cursor: pointer;
    z-index: 999;
    font-weight: 600;
    color: rgb(204, 204, 204);
}
.sertif{
    text-align: center;
    width: 100%;
}
.serts {
    width: 139px;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 0 19px 30px 19px;
    cursor: pointer;
    padding: 0;
    border: 1px solid #eee;
}

.serts img {
    width: 100%;
    height: 100%;
    position: relative;
}

.serts:hover .overflow {
    display: block;
}

.modal-open {
    overflow: hidden;
}

.modal {
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(0, 0, 0, 0.7);
}

body.modal-open .modal {
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal-content {
    position: relative;
    outline: 0;
}

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    filter: alpha(opacity=0);
}

body.modal-open .modal-backdrop {
    opacity: .9;
    filter: alpha(opacity=90);
}

.modal-body {
    position: relative;
}



.iframe {
    width: 578px;
    height: 401px;
    position: relative;
    margin: 15px 0 0 0;
}



.ftr-bttn {
    display: inline-block;
    outline: none;
    border: 2px solid #ff4747;
    box-shadow: 0 5px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 15px 0 #a90000;
    background-color: #d4d4d4;
    border-radius: 25px;
    color: #ff0000;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: -1px;
}
.ftr-bttn:hover {
    background-color: #edfaff;
}
.ftr-bttn:active {
    background-color: #edfaff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
@media screen and (max-width: 999px) {
    .content h1 {
        width: auto;
    }

    .container {
        width: 95%;
    }


    .block2 {
        width: auto;
    }

    .conteinerCenter {
        width: 550px;
        margin: 0px auto;
    }

    .itemfirst {
        width: 200px;
    }

    .itemsecond {
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .text {
        width: auto;
        float: none;
        text-align: justify;
        padding: 0;
    }

    .sidebar {
        float: none;
        top: 20px;
    }

    .itemfirst {
        width: auto;
    }

    .itemsecond {
        display: block;
        width: auto;
    }

    .sidebar .author {
        padding: 0 0 20px;
    }

    .sidebar .author img {
        float: left;
        margin: 10px 35px 0 5px;
    }
}

@media screen and (max-width: 767px) {
    img.imgFl {
        float: none !important;
        margin: 0px auto 10px;
        display: block;
    }

    .conteinerCenter {
        width: 100%;
    }

    .button_page {
        width: 100% !important;
        font-size: 14px;
        box-sizing: border-box;
    }

    .iframe {
        width: 480px;
        height: 270px;
    }
    .ftrsale .rght {
        width: 100%;
        float: none;
        text-align: center;
        margin: 10px 0;
    }
    .ftrsale .lft {
        width: 100%;
        float: none;
    }
    .ftrsale p {
        line-height: 22px;
        font-size: 18px;
    }
    .content h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 479px) {
    .content h1 {
        width: auto;
        font-size: 22px;
    }

    .text p {
        text-align: right;
    }

    .block2 {
        text-align: right;
    }

    .text3 {
        text-align: right;
    }

    .comment {
        text-align: right;
    }

    .iframe {
        width: 342px;
        height: 192px;
    }
    .text p.blur-p {
        text-align: center;
        font-size: 20px;
    }
    .kov {
        padding: 15px 15px;
    }
    .kov:before{
        display: none;
    }
    .kov:after{
        display: none;
    }
    .content ul {
        margin-left: 10px;
    }
    .ftrsale .cls {
        z-index: 3;
    }
}

@media screen and (max-width: 320px) {
    .button_page {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .images-logo img {
        float: none;
    }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 468px) {
    .images-logo img {
        float: none;
    }
}

@media screen and (max-width: 468px) {
}

* {
    margin: 0px;
    padding: 0px;
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}

.ouimain-text-img::after {
    content: "";
    display: block;
    clear: both;
}

.ymaps-b-form-button__input::-moz-focus-inner {
    padding: 0px;
    border: 0px none;
}

@media not all, not all {
}

@media not all {
}

.sendpulse-fab .sendpulse-prompt-message::after, .sendpulse-fab .sendpulse-prompt-message::before {
    content: "";
    position: absolute;
    bottom: -21px;
    right: 23px;
    border-style: solid;
    height: 0px;
    width: 0px;
    border-width: 10px;
    border-color: rgb(204, 204, 204) transparent transparent;
}

.sendpulse-fab .sendpulse-prompt-message::after {
    border-top-color: rgb(255, 255, 255);
    bottom: -20px;
}

.ymaps-b-form-button__input::-moz-focus-inner {
    padding: 0px;
    border: 0px none;
}

@media not all, not all {
}

@media not all {
}

.screenLock {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
}

.msg {
    position: absolute;
    width: 630px;
    height: 460px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgb(218, 218, 218) none repeat scroll 0% 0%;
    border: 1px solid rgb(238, 238, 238);
}

.close {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    cursor: pointer;
}



@media screen and (min-width: 35.5em) {
    .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-2, .pure-u-sm-12-24 {
        width: 50%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-md-1-3, .pure-u-md-8-24 {
        width: 33.3333%;
    }
}

@media screen and (min-width: 64em) {
}

@media screen and (min-width: 80em) {
}

#wrapper_39 {
    max-width: 750px;
    padding: 0px 7px 7px;
    margin: 0px;
    outline: 0px solid rgb(214, 157, 157);
}

.tizdiv_img_39 {
    text-align: left;
    padding-right: 5px;
}

#wrapper_39 img {
    padding: 0px;
    margin: 0px;
    outline: 0px solid rgb(0, 0, 0);
    max-height: 150px;
    max-width: 150px;
}

.tizdiv_a_39 {
    text-align: left;
}

#wrapper_39 a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper_39 a:hover {
    color: rgb(16, 47, 212);
    text-decoration: underline;
}

.pure-u-1 {
    padding-top: 7px;
}

.tizdiv_img_39 {
    position: relative;
}

.list1 {
    list-style-type: none;
    font-weight: normal;
}

.list1 {
    margin-left: 0;
    padding-left: 0;
}

.list2 {
    font-weight: normal;
    padding-left: 20px;
}
.iframe {
    width: 578px;
    height: 401px;
    position: relative;
    margin: 15px 0 0 0;
}
@media screen and (max-width: 767px) {


    .iframe {
        width: 470px;
        height: 268px;
    }
}

@media (max-width: 480px) {
    .a {
        padding-top: 58px;
    }

    .button_page {
        font-size: 14px;
    }

    .b {
        width: auto;
    }
    .iframe {
        width: 100%;
    }
}